@import url(../../assets/theme/theme.css);


.question-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	justify-items: center;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	background-color: var(--default-color);
}

.q-title {
	width: 50%;
	margin: 0 auto;
}

.que-title {
	font-size: var(--rule-title-s);
	font-weight: var(--rule-title-w);
	color: var(--rule-txt-color);
	text-align: center;
}

.q-socre {
	width: 50%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	font-size: var(--rule-txt-s);
	font-weight: var(--rule-txt-w);
	color: var(--rule-txt-color);
}

.socre-que0 {
	display: flex;
	flex-basis: 50%;
}

.score-que1 {
	display: flex;
	flex-basis: 50%;
	justify-items: end;
	justify-content: end;
}

.q-des {
	width: 50%;
	margin: 0 auto;
	border: 2px solid var(--primary-color);
	border-radius: 0.8rem;
}

.des {
	font-size: var(--rule-txt-s);
	font-weight: var(--rule-txt-w);
	color: var(--rule-txt-color);
	text-align: center;
	padding: 2rem;
}

.options {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 50%;
	margin: 0 auto;
}

.option {
	padding: 1rem;
	width: 100%;
	font-size: var(--rule-txt-s);
	font-weight: var(--rule-txt-w);
	color: var(--default-color);
	text-align: center;
	background-color: var(--primary-color);
	border-radius: 11px;
}

.class-primary {
	background-color: green;
	color: white;
}

.class-selected {
	background-color: black;
	color: white;
}

.class-sec {
	background-color: red;
	color: white;
}

.q-btn {
	display: flex;
	flex-direction: row;
	width: 50%;
	margin: 0 auto;
	justify-content: center;
	justify-items: center;
}

.ques-btn0 {
	width: 6rem;
	height: 2.5rem;
	display: flex;
	flex-basis: 50%;
	background-color: transparent;
	border: 1.5px solid var(--primary-color);
	color: var(--primary-color);
	font-size: var(--rule-txt-s);
	font-weight: var(--rule-txt-w);
	justify-content: center;
	justify-items: center;
	text-align: center;
	text-decoration: none;
}

.ques-btn0:hover {
	color: var(--default-color);
	background-color: var(--primary-color);
}

.ques-btn1 {
	width: 6rem;
	height: 2.5rem;
	display: flex;
	flex-basis: 50%;
	background-color: transparent;
	justify-items: end;
	border: 1.5px solid var(--primary-color);
	color: var(--primary-color);
	font-size: var(--rule-txt-s);
	font-weight: var(--rule-txt-w);
	justify-content: center;
	justify-items: center;
	text-align: center;
	text-decoration: none;
}

.ques-btn1:hover {
	color: var(--default-color);
	background-color: var(--primary-color);
}