@import url(../../assets/theme/theme.css);

* {
    margin: 0;
    box-sizing: border-box;
}


.rule-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    height: 70%;
    background: var(--default-color);
    height: 100vh;

}

.svg-container {
    max-width: 80%;
    margin: 0 auto;

}

.svg-img {
    max-width: 100%;
    max-height: 60vh;
}

.rule-title {
    font-size: var(--rule-title-s);
    font-weight: var(--rule-title-w);
    color: var(--rule-txt-color);
    text-align: center;
}

.rules-main {
    max-width: 80%;
    margin: 0 auto;
}

.rule {
    font-size: var(--rule-txt-s);
    font-weight: var(--rule-txt-w);
    color: var(--rule-txt-color);
}

.rules-btn {
    max-width: 80%;
    margin: 0 auto;
}

.rule-btn {
    font-size: var(--rule-txt-s);
    font-weight: var(--rule-txt-w);
    color: var(--rule-txt-color);
    background-color: transparent;
    width: 6rem;
    height: 2.5rem;
    border: 1.5px solid var(--primary-color);
    text-align: center;
    text-decoration: none;
}

.rule-btn:hover {
    background-color: var(--primary-color);
    color: var(--default-color);
}